<template>
  <div> 
    <div class="d-flex flex-column justify-content-center align-items-center p-5 bg-primary mb-5">
        <h2 class="text-white">All Books</h2>
    </div>

    <div class="container">

        <div class="d-flex text-left">
            <div class="form-group mr-3">
              <label for="">Sort By</label>
              <select class="form-control" name="" id="" v-model="sortColumn">
                <option value="title">Title</option>
                <option value="avg_review">Average Review</option>
              </select>
            </div>

            <div class="form-group">
              <label for="">Order By</label>
              <select class="form-control" name="" id="" v-model="sortDirection">
                <option value="ASC">Ascending</option>
                <option value="DESC">Descending</option>
              </select>
            </div>
        </div>

        <div class="m-1">
            <button type="button" class="btn btn-primary" @click="page--" :disabled="all_books.links.prev == null">Previous</button>
            <button type="button" class="btn btn-primary" @click="page++" :disabled="all_books.links.next == null">Next</button>
        </div>

        <div class="text-left my-4">
            <h5>Current Page - {{page}}</h5>
        </div>

        <div class="card mb-5 text-left" v-for="book in all_books.data" :key="book.id">
            <div class="card-header">
                <div class="card-title">
                    <small>Title</small><br>
                    {{book.title}}
                </div>
            </div>
            <div class="card-body">
                <div class="mb-2">
                    <small>Description</small><br>
                    {{book.description}}
                </div>

                <div class="mb-2">
                    <small>ISBN</small><br>
                    {{book.isbn}}
                </div>

                <div class="mb-2">
                    <small>Average Review</small><br>
                    {{book.reviews.avg}}
                </div>
            </div>
            <div class="card-footer">
                <small>Author: {{book.authors.name}}</small> <br>
                <small>Created At: {{book.created_at}}</small>
            </div>
        </div>

        <div class="m-5">
            <button type="button" class="btn btn-primary" @click="page--" :disabled="all_books.links.prev == null">Previous</button>
            <button type="button" class="btn btn-primary" @click="page++" :disabled="all_books.links.next == null">Next</button>
        </div>

    </div>
  </div>
</template>

<script>

import axios from 'Axios';

export default {
  data() {
    return{
        all_books: {
            data: [],
            links: {},
            meta: {},
        },
        sortColumn: 'title',
        sortDirection: 'DESC',
        page: 1,
    }  
  },
  created() {
      this.get_all_books();
  },
  mounted(){
    
  },
  watch: {
    'sortColumn': function(newVal, oldVal){
        this.get_all_books()
    },
    'sortDirection': function(newVal, oldVal){
        this.get_all_books();
    },
    'page': function(newVal, oldVal){
        this.get_all_books();
    },
  },
  computed: {
    
  },
  methods: {
        get_all_books(){
            axios
                .get("/api/books",{ 
                    params: {
                        sortColumn: this.sortColumn,
                        sortDirection: this.sortDirection,
                        page: this.page
                    },
                    headers: {} 
                })
                .then(response => {
                    console.log(response);
                    this.all_books = response.data;

                    this.$router.push({ name: 'books', query: { sortColumn: this.sortColumn, sortDirection: this.sortDirection, page: this.page }})

                    document.body.scrollTop = 0; // For Safari
                    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera

                })
                .catch(error => {
                    console.log(error)
                });
        }
  },
}

</script>