<template>
  <div> 
    <div class="d-flex flex-column justify-content-center align-items-center p-5 bg-primary mb-5">
        <h2 class="text-white">Credpal Bookstore</h2>
    </div>

    <div class="container text-left">

        <div class="form-group">
          <label for="">Email</label>
          <input type="email" class="form-control" name="" v-model="email" placeholder="admin@credpal.com">
          <small>admin@credpal.com</small>
        </div>

        <div class="form-group">
          <label for="">Password</label>
          <input type="password" class="form-control" name="" v-model="password" placeholder="password">
          <small>password</small>
        </div>

        <button type="button" name="" id="" class="btn btn-primary" @click="login">Login</button>

    </div>
  </div>
</template>

<script>

import axios from 'Axios';
import Swal from 'sweetalert2'


export default {
  data() {
    return{
        email: '',
        password: '',
    }  
  },
  created() {
  },
  mounted(){
    
  },
  watch: {
  },
  computed: {
    
  },
  methods: {
        login(){
           axios.post('/api/login', {
               email: this.email,
               password: this.password,
           })
            .then(response => { 
                Swal.fire({
                    title: 'Login successful',
                    text: '',
                    type: 'success',
                    confirmButtonColor: '#333',
                })

                this.$router.push({name: 'books'});
        
            })
            .catch(error => {
                Swal.fire({
                    title: 'Login not successful',
                    text: 'Invalid email and password',
                    type: 'error',
                    confirmButtonColor: '#333',
                })
            });
        }
  },
}

</script>